<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>로그 아웃</title>
</head>
<body>
	<h1>로그 아웃</h1>
	<hr>
	<a th:href="@{'/'}">메인으로 이동</a>
</body>
</html>